.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-bg {
  background-color: #282c34;
  min-height: 100vh;
  list-style: none;
}

.App-desc {
  color: white;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0;
}

.Message-text {
  padding: 5px;
  background: white;
  color: black;
}

.form {
  box-sizing: border-box;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: rgb(145, 176, 182);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form button {
  max-width: 160px;
}